<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column>รหัสแจ้ง</clr-dg-column>
  <clr-dg-column>วันที่/เวลา</clr-dg-column>
  <clr-dg-column>อาการที่แจ้ง</clr-dg-column>
  <clr-dg-column>ประเภท</clr-dg-column>
  <clr-dg-column>#</clr-dg-column>

  <clr-dg-row *ngFor="let req of requests">
    <clr-dg-cell>{{req.request_code}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_date | thaiDate }} {{req.request_time | sortTime}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_cause}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_category_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <button class="btn btn-sm btn-icon btn-success" (click)="openModal(req.request_id)">
        <clr-icon shape="note"></clr-icon>
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="total">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


<clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'lg'">
  <h3 class="modal-title">ประวัติ</h3>
  <div class="modal-body">
    <clr-stack-view>
      <clr-stack-block [clrSbExpanded]="true" *ngFor="let log of requestsLog">
        <clr-stack-label>วันที่ {{ log.create_at | thaiDate }}</clr-stack-label>
        <clr-stack-content>ช่าง {{ log.first_name}} {{ log.last_name}}</clr-stack-content>
        <clr-stack-block>
          <clr-stack-label>กิจกรรมที่ทำ</clr-stack-label>
          <clr-stack-content>{{ log.request_logs }}</clr-stack-content>
        </clr-stack-block>

      </clr-stack-block>
    </clr-stack-view>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="isOpen = false">Ok</button>
  </div>
</clr-modal>