<div class="main-container">
  <header class="header-1">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">งานซ่อมบำรุง Staff</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="่javascript://" class="nav-link nav-icon" routerLink="/staff/main" routerLinkActive="active">
        <clr-icon shape="home"></clr-icon>
    </a>
    <a href="javascript://" class="active nav-link nav-icon" routerLink="/staff/request" routerLinkActive="active">
        <clr-icon shape="cursor-hand-click"></clr-icon>
    </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink routerLink="/staff/main" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        หน้าหลัก
      </a>
      <a clrVerticalNavLink routerLink="/staff/request" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="cursor-hand-click"></clr-icon>
        แจ้งซ่อม
      </a>
      
    </clr-vertical-nav>
  </div>
</div>